!!!
%html
  %head
    %title V&A Consultores
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=PT+Serif|Changa+One|Paytone+One"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      %h1
        %a{:href => '/'}
          V
          %small> &
          A Consultores
    #nav
      %ul
        %li
          %a{:href => '#'}
            Quiénes somos
        %li
          %a{:href => '#'}
            Servicios
        %li
          %a{:href => '#'}
            Artículos
        %li
          %a{:href => '#'}
            Contáctenos
    #body
      .row
        = yield
        %p.profile.big
          Ofrecemos servicios de consultoría en temas de&nbsp;
          %strong> gestión pública
          ,&nbsp;
          %strong>  elaboración de proyectos
          , así como en&nbsp;
          %strong> proyectos de rescate arqueológico (CIRA)&nbsp;
          y&nbsp;
          %strong> proyectos de evaluación arqueológica (PEA).&nbsp;
          %a{:href => '#'}
            Conozca nuestros servicios &raquo;